<div class="container wrapper wrapper2">
  <div class="row">
	<div class="col-md-12">
<!-- Form -->
    <div class="form-group">
<form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
	<label>Assunto:</label>
    	<input type="text" formControlName="subject"><br><br>
  	<label>Destino:</label>
    	<input type="text" formControlName="address"><br><br>
  	<label>Corpo do email:<br></label>
    <textarea type="text" formControlName="body" rows="5" cols="48"></textarea><br><br>
  <button type="submit" class="btn btn-primary" [disabled]="!emailForm.valid">Enviar</button>
</form>
</div>

</div>
</div>

<div class="container wrapper">
  <div class="row">
      <!-- email table -->
      <div class="col-md-12">
          <div class="inner">
              <table class="table table-bordered">
                  <thead>
                      <tr>
                          <th scope="col">Assuntos</th>
                          <th scope="col">Destinatários</th>
                          <th scope="col">Body</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let email of emailList">
                          <th>{{email.subject}}</th>
                          <td>{{email.address}}</td>
                          <td>{{email.body}}</td>
                          <td>
                          </td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>

  </div>
</div>
